MONGODB_URI=mongodb+srv://mongo-user:GYy4CFiS32GZueeGJ2uza3p5Tdyh2HdsXsfvhykTGpvXPvg3Zj69jzzxPzJfXoTv7sa2uQcRpfAVz5ZhxGm6Dcny2nmFEXsz7ze33qcY339ahnG2BLcdLZHE9fcndhTe@cluster0.h1akyug.mongodb.net/phonebook?retryWrites=true&w=majority
PORT=3001